.header{
    width: 100%;
    height: 95px;
    background:black;
}
.header2{
    width: 100%;
    height: 475px;
    background:#a93129;;
}
body{
    font-feature-settings: "ss02";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: system-ui, sans-serif;
    margin: 0;

}
.jimmy-image{
    margin-top: 16px;
    margin-left: 44px;
    float: left;
}
.menu{
    font-family: system-ui, sans-serif;
    font-size: 5px;
    font-weight: 900;
    color: white;
    margin-top: 43px;
    margin-left: 50px;
    float: left;
    transform: scale(4.5, 4);
   
}
.star{
    
    height: 16px;
    
    float: left;
    margin-top: 39px;
    margin-left: 44px;
}
.catering{
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 5px;
    font-weight: 900;
    color: white;
    margin-top: 43px;
    margin-left: 55px;
    float: left;
    transform: scale(4.5, 4);

}
.star2{
    
    height: 16px;
    float: left;
    margin-top: 39px;
    margin-left: 63px;
}
.location{
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 5px;
    font-weight: 900;
    color: white;
    margin-top: 43px;
    margin-left: 63px;
    float: left;
    transform: scale(4.5, 4);
}
.star3{
    height: 16px;
    float: left;
    margin-top: 39px;
    margin-left: 65px;
}
.reward{
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 5px;
    font-weight: 900;
    color: white;
    margin-top: 43px;
    margin-left: 54px;
    float: left;
    transform: scale(4.5, 4);
}
.login-image{
    float: left;
    margin-top: 36px;
    margin-left: 143px;
}
.log-in{
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 5px;
    font-weight: 900;
    color: white;
    margin-top: 43px;
    margin-left: 38px;
    float: left;
    transform: scale(4.5, 4);
}
.line{
    font-size: 11px;
    color: #7d7575;
    font-weight: 100;
    float: left;
    margin-top: 31px;
    margin-left: 49px;
    transform: scale(0.5, 4);
}
.order-button{
    color: white;
    background: rgb(228, 0, 43);
    border-radius: 0px;
    margin-top: 24px;
    margin-left: 23px;
    height: 48px;
    width: 146px;
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    font-weight: 900;
    float: left;
    border-color: rgb(228, 0, 43);
    box-shadow: none;
    border: 0;
}
.bag-image{
    margin-top: 32px;
    margin-left: 24px;
}
.new{
    color: rgb(255, 255, 255);
    display: block;
    font-family: Blankenhorn, cursive;
    font-weight: 900;
    font-size: 4rem;
    float: left;
    margin-top: 24px;
    margin-left: -126px;
   
}
.smoke{
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    
    font-weight: 900;
    color: white;
    margin-top: 104px;
    
    margin-left: -148px;
    float: left;
    
    font-size: 295.41%;
}
.bourbon{
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 900;
    color: white;
    margin-top: 147px;
    margin-left: -454px;
    float: left;
    font-size: 356.094%;
}
.para{
    font-size: 18px;
    color: white;
    margin-top: 235px;
    margin-left: -452px;
    float: left;
    font-weight: 500;
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}
.chek{
    color: white;
    background: black;
    border-radius: 0px;
    font-family: Knockout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 23px;
    font-weight: 900;
    float: left;
    border-color: black;
    box-shadow: none;
    border: 0;
    margin-top: 359px;
    margin-left: -452px;
    height: 58px;
    width: 443px;
}
.burger-image{
    float: left;
    height: 338px;
    width: 723px;
    margin-top: 69px;
    margin-left: 32px;
}
